{% extends "account/base.html" %}

{% load account %}

{% block head_title %} - Password Reset{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <h2>Password Reset</h2>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p>
        We have sent you an e-mail. Please contact us if you do not receive
        it within a few minutes.
      </p>
    </div>
  </div>
{% endblock %}
